
<ion-content >
  <!-- <ion-header collapse="condense">
    <ion-toolbar color="translucent" >
      <ion-title >Family Chat</ion-title>
    </ion-toolbar>
  </ion-header> -->
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <div>
            <h1>Family Chat</h1>
        </div>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col >
        <form
          [formGroup]="validations_form"
          (ngSubmit)="onSubmitLogin(validations_form.value)"
        >
          <ion-item class="item-login-input">
            <ion-label position="floating" color="primary">Email</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
          </ion-item>

          <ion-item class="item-login-input">
            <ion-label position="floating" color="primary">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-button
            class="ion-no-margin"
            color="primary"
            expand="block"
            [disabled]="!validations_form.valid"
            >Log In</ion-button
          >
        </form>
      </ion-col>
    </ion-row>
    <br /><br />

    <ion-row>
      <ion-col class="ion-text-center">
        <div>
          <p>
            <a [routerLink]="['/chats']">Or new user? Create an account</a>
          </p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="danger" expand="block" (click)="googleLogin()">
          sign in with Google
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
