<ion-header collapse="fade" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/chats"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{chat.title}}</ion-title>
    <ion-buttons slot="end" (click)="openDialog()">
      <ion-thumbnail class="ion-thumbnail-photo">
        <ion-img [src]="chat.imageChat"></ion-img>
      </ion-thumbnail>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <ion-grid>
    <ion-row *ngFor="let message of chat.chatHistories">
      <ion-col
        size="6"
        [ngClass]="message.sendFrom !== user?.name ? 'chat-alignment' : '' "
      >
        <div
          [ngClass]="message.sendFrom !== user?.name ? 'chat-background-color' : 'chat-background-color-curUser' "
        >
          <ion-grid>
            <ion-row class="ion-row-message-details">
              <span class="sent-by">{{message.sendFrom}}</span>
              <span class="created-time"
                >{{message.created | date:'shortTime'}}</span
              >
            </ion-row>
            <div class="line"></div>
            <ion-row>
              <p>{{message.chatText}}</p>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="footer-class">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-lg="10" class="ion-no-padding">
        <ion-input
          class="item-input-chat"
          placeholder=" type..."
          [formControl]="this.chatForm.get('chatText')"
          clearInput
        ></ion-input>
      </ion-col>
      <ion-col size="2" class="div-ion-buttons">
        <ion-buttons>
          <ion-icon name="send-outline" class="ion-icon-send"
          (click)="sendMessage()"></ion-icon>
          <ion-icon
            (click)="selectImage()"
            name="images-outline"
            class="ion-icon-photo"
          ></ion-icon>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
