<ion-header collapse="fade" translucent="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons> -->

    <ion-title class="ion-title-user" *ngIf="user">Hello {{user.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button expand="block" (click)="openCreateChatModal()" icon-only>
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-list>
          <ion-item
            *ngFor="let chat of chats"
            (click)="routeToChat(chat.chatRoomId)"
            detail
          >
            <ion-thumbnail slot="start">
              <ion-img [src]="chat.imageChat"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ chat.title }}</h2>
              <p>{{ chat.description }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
