
  ion-toolbar {
    background-color: #a9c6f9
    // opacity: 0.5;

  }
.message{
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  white-space: pre-wrap;
}


.other-message{
background: #bcc0d2;
color: rgb(0, 0, 0);
}

.my-message {
  background: var(--ion-color-secondary);
  color: #fff;
}

.time{
color: #dfdfdf;
float: right;
font-size: small;
}

.message-input{
width: 100%;
border: 1px solid var(--ion-color-medium);
border-radius: 10px;
background: #fff;
resize: none;
padding-left: 10px;
padding-right: 10px;
}

.msg-btn{
    --padding-start: 0.5em;
     --padding-end: 0.5em;
}
