

  ion-toolbar {
    background-color: #a9c6f9
    // opacity: 0.5;

  }
  cdk-virtual-scroll-viewport {
    height: 844px;
    width: 390px;
  }
.message{
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  white-space: pre-wrap;
}


.other-message{
background: #dbd1d1e5;
color: rgb(0, 0, 0);
border-radius: 20px 20px 20px 0px;
}

.my-message {
  background: #627ced;
  // background: var(--ion-color-secondary);
  color: rgb(255, 255, 255);
  border-radius: 20px 20px 0px 20px;
}

.time{
color: #dfdfdf;
float: right;
font-size: small;
}

.message-input{
width: 100%;
border: 1px solid var(--ion-color-medium);
border-radius: 10px;
background: #fff;
resize: none;
padding-left: 10px;
padding-right: 10px;
}

.msg-btn{
    --padding-start: 0.5em;
     --padding-end: 0.5em;
}






