<ion-header collapse="fade" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/chats"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{chat?.title}}</ion-title>
    <ion-buttons slot="end" (click)="openDialog()">
      <ion-avatar class="ion-thumbnail-photo">
        <ion-img [src]="chat?.imageChat"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row *ngFor="let message of chatService.chatHistories" >
    <ion-col [id]="'chat_'+message.chatHistoryId"  [size]=rowSize(message.chatText) *ngIf="message?.sendFrom !== user?.name" class="message other-message">
      <b>{{message.sendFrom}}</b><br>
      <span>{{message.chatText}}</span>
      <div class="time" class="ion-text-right">
        {{message.created | date: 'shortTime'}}
      </div>
    </ion-col>

    <ion-col [id]="'chat_'+message.chatHistoryId"  [offset]=myoffSetSize(message.chatText) [size]=myRowSize(message.chatText) *ngIf="message?.sendFrom === user?.name"  class="message my-message">
        <b>{{message.sendFrom}}</b><br>
      <span>{{message.chatText}}</span>
      <div class="time" class="ion-text-right">
        {{message.created | date: 'shortTime'}}
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row class="ion-align-items-center no-padding">
      <ion-col size="10">
        <textarea autosize
        [formControl]="$any(this.chatForm.get('chatText'))"
        (keyup.enter)="sendMessage()"
        clearInput
        class="message-input">

        </textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="this.chatForm.get('chatText').value ===''" class="msg-btn"
        (click)="sendMessage()">
      <ion-icon name="send" slot="icon-only"></ion-icon>
      </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
